extends layout

block content
  h1 #{title}: #{genre.name}
  
  if books.length
    p #[strong The following books use this genre, please update or delete them first]
    div(style='margin-left:20px;margin-top:20px')
    h4 Books:
    dl 
    each book in books
      dt 
        a(href=book.url) #{book.title}
  else 
    p Do you really want to delete this Genre?
    form(action="", method="post") 
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=genre._id )
      button.btn.btn-primary(type='submit') Delete 


